@import '../stylesheets/_settings.scss';

.aboutDiv {
  min-height: 100vh;
}

.aboutHeader {
  height: 500px;
  background-color: rgba(73, 66, 228, 0.3);
  text-align: center;
  padding-top: 200px;
  font-size: 76px;
}

.founders {
  font-size: 48px;
  text-align: center;
  padding: 50px;
}

.bio {
  text-align: center;
  padding-bottom: 50px;
}

.names {
  font-size: 36px;
  padding-top: 25px;
}

.eachPerson {
  padding: 0 50px;
  display: inline-block;
  width: 380px;
}

.links {
  font-size: 28px;
  padding: 0 15px;
  color: inherit;
}

.links:hover {
  color: gray;
}

.profilePic {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
