.bigDiv {
  height: 300vh;
}

.mainLogo {
  position: fixed;
  letter-spacing: 5px;
  font-size: 200px;
  margin-top: 25vh;
  margin-left: 49vw;

  animation: moveLeft 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes moveLeft {
  to {
    transform: translate(-30vw);
  }
}

.opaqueDiv {
  position: fixed;
  top: 30vh;
  left: calc(49vw + 110px);
  height: 500px;
  width: 800px;
  background-color: rgb(241, 241, 241);

  animation: moveRight 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

body[theme='dark'] {
  .opaqueDiv {
    background-color: rgb(27, 27, 27);
  }
}

body[theme='light'] {
  .opaqueDiv {
    background-color: rgb(241, 241, 241);
  }
}

@keyframes moveRight {
  to {
    transform: translate(30vw);
  }
}
