@import '../stylesheets/_settings.scss';

.bigDiv {
  height: 300vh;
}

.mainLogo {
  position: fixed;
  letter-spacing: 5px;
  font-size: 200px;
  margin-top: 25vh;
  margin-left: calc(49vw + calc(var(--scroll) * -0.015vw));
}

.opaqueDiv {
  position: fixed;
  top: 30vh;
  left: calc(calc(49vw + 110px) + calc(var(--scroll) * 0.015vw));
  height: 500px;
  width: 800px;
  background-color: rgb(241, 241, 241);
}

body[logo='stop'] {
  .mainLogo {
    margin-left: calc(49vw + calc(1900 * -0.015vw));
  }
  .opaqueDiv {
    left: calc(calc(49vw + 110px) + calc(1900 * 0.015vw));
  }
}

body[theme='dark'] {
  .opaqueDiv {
    background-color: $primary;
  }
}

body[theme='light'] {
  .opaqueDiv {
    background-color: $superLightGrey;
  }
}
