$black: rgb(0, 0, 0);
$primary: rgb(17, 17, 17);
$secondary: rgb(59, 59, 59);
$tertiary: rgb(173, 173, 173);
$superLightGrey: rgb(241, 241, 241);
$white: rgb(255, 255, 255);
$darkBlue: rgb(17, 0, 158);
$blue: rgb(73, 66, 228);
$lightBlue: rgb(134, 150, 254);
$lightPurple: rgb(196, 176, 255);
