@import '_global.scss';
@import '_settings.scss';

html {
  scroll-behavior: smooth;
}

body {
  background-color: $superLightGrey;
  color: $primary;
}

body::-webkit-scrollbar {
  display: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: $primary;
    color: $white;
  }
}

body[theme='dark'] {
  background-color: $primary;
  color: $white;
}

body[theme='light'] {
  background-color: $superLightGrey;
  color: $primary;
}
